.container-fluid.cd-main-content.custom-container
  .row
    .col-md-2.left-feild
      %form.input-search{:action => "./"}
        %input{:placeholder => "Enter keyword", :required => "", :type => "text"}/
        %i.fa.fa-search
        %input{:type => "submit", :value => ""}/
    .col-md-10
      .for-be-dropdowns
        .be-drop-down
          %i.icon-projects
          %span.be-dropdown-content Projects
          %ul.drop-down-list
            %li.filter{"data-filter" => ".category-1"}
              %a{"data-type" => "category-1"} Projects
            %li.filter{"data-filter" => ".category-2"}
              %a{"data-type" => "category-2"} Work in Progress
            %li.filter{"data-filter" => ".category-3"}
              %a{"data-type" => "category-3"} People
        .be-drop-down
          %i.icon-creative
          %span.be-dropdown-content
            All Creative Filds
          %ul.drop-down-list
            %li.filter{"data-filter" => ".category-4"}
              %a Item - 1
            %li.filter{"data-filter" => ".category-5"}
              %a Item - 2
            %li.filter{"data-filter" => ".category-1"}
              %a Item - 3
        .be-drop-down
          %i.icon-features
          %span.be-dropdown-content
            Features
          %ul.drop-down-list
            %li.filter{"data-filter" => ".category-2"}
              %a Featured
            %li.filter{"data-filter" => ".category-3"}
              %a Most Appreciated
            %li.filter{"data-filter" => ".category-4"}
              %a Most Viewed
            %li.filter{"data-filter" => ".category-5"}
              %a Most Discussed
            %li.filter{"data-filter" => ".category-1"}
              %a Most Recent
        .be-drop-down
          %i.icon-worldwide
          %span.be-dropdown-content
            Worldwide
          %ul.drop-down-list
            %li.filter{"data-filter" => ".category-2"}
              %a WorldWide
            %li.filter{"data-filter" => ".category-3"}
              %a United States
            %li.filter{"data-filter" => ".category-4"}
              %a Germany
            %li.filter{"data-filter" => ".category-5"}
              %a United Kingdom
.container-fluid.custom-container
  .row
    .col-md-2.left-feild
      .be-vidget
        %h3.letf-menu-article
          Popular Creative Filds
        .creative_filds_block
          .ul
            %a.filter{"data-filter" => ".category-1"} Graphic Design
            %a.filter{"data-filter" => ".category-2"} Photography
            %a.filter{"data-filter" => ".category-3"} Interaction Design
            %a.filter{"data-filter" => ".category-4"} Art Direction
            %a.filter{"data-filter" => ".category-5"} Illustration
      .be-vidget
        %h3.letf-menu-article
          Popular Tags
        .tags_block.clearfix
          %ul
            %li
              %a.filter{"data-filter" => ".category-6"} photoshop
            %li
              %a.filter{"data-filter" => ".category-1"} graphic
            %li
              %a.filter{"data-filter" => ".category-2"} art
            %li
              %a.filter{"data-filter" => ".category-3"} website
            %li
              %a.filter{"data-filter" => ".category-4"} logo
            %li
              %a.filter{"data-filter" => ".category-5"} identity
            %li
              %a.filter{"data-filter" => ".category-6"} logo design
            %li
              %a.filter{"data-filter" => ".category-1"} interactive
            %li
              %a.filter{"data-filter" => ".category-2"} blue
            %li
              %a.filter{"data-filter" => ".category-3"} branding
      .be-vidget
        %h3.letf-menu-article
          Filter By
        .filter-block
          %ul
            %li
              %a
                %i.fa.fa-graduation-cap>
                Schools
              .be-popup
                %h3.letf-menu-article
                  Enter School
                %form.input-search{:action => "./"}
                  %input.filters-input{:placeholder => "Start typing to see list", :required => "", :type => "text"}/
                %i.fa.fa-times
            %li
              %a
                %i.fa.fa-wrench>
                Tools Used
              .be-popup
                %h3.letf-menu-article
                  Tools
                %form.input-search{:action => "./"}
                  %input.filters-input{:placeholder => "Start typing to see list", :required => "", :type => "text"}/
                %i.fa.fa-times
            %li
              %a
                %i.fa.fa-paint-brush>
                Color
              .be-popup.be-color-picker
                %h3.letf-menu-article
                  Choose color
                .for-colors
                  %ul.colors.cfix
                    %li.color.filter.color-0-0{"data-filter" => ".category-1"}
                    %li.color.filter.color-0-1{"data-filter" => ".category-2"}
                    %li.color.filter.color-0-2{"data-filter" => ".category-3"}
                    %li.color.filter.color-0-3{"data-filter" => ".category-4"}
                    %li.color.filter.color-0-4{"data-filter" => ".category-5"}
                    %li.color.filter.color-0-5{"data-filter" => ".category-1"}
                    %li.color.filter.color-0-6{"data-filter" => ".category-2"}
                    %li.color.filter.color-0-7{"data-filter" => ".category-3"}
                    %li.color.filter.color-0-8{"data-filter" => ".category-4"}
                    %li.color.filter.color-0-9{"data-filter" => ".category-5"}
                    %li.color.filter.color-0-10{"data-filter" => ".category-1"}
                    %li.color.filter.color-0-11{"data-filter" => ".category-5"}
                    %li.color.filter.color-1-0{"data-filter" => ".category-1"}
                    %li.color.filter.color-1-1{"data-filter" => ".category-2"}
                    %li.color.filter.color-1-2{"data-filter" => ".category-1"}
                    %li.color.filter.color-1-3{"data-filter" => ".category-1"}
                    %li.color.filter.color-1-4{"data-filter" => ".category-1"}
                    %li.color.filter.color-1-5{"data-filter" => ".category-4"}
                    %li.color.filter.color-1-6{"data-filter" => ".category-1"}
                    %li.color.filter.color-1-7{"data-filter" => ".category-1"}
                    %li.color.filter.color-1-8{"data-filter" => ".category-6"}
                    %li.color.filter.color-1-9{"data-filter" => ".category-1"}
                    %li.color.filter.color-1-10{"data-filter" => ".category-1"}
                    %li.color.filter.color-1-11{"data-filter" => ".category-1"}
                    %li.color.filter.color-2-0{"data-filter" => ".category-1"}
                    %li.color.filter.color-2-1{"data-filter" => ".category-1"}
                    %li.color.filter.color-2-2{"data-filter" => ".category-1"}
                    %li.color.filter.color-2-3{"data-filter" => ".category-1"}
                    %li.color.filter.color-2-4{"data-filter" => ".category-1"}
                    %li.color.filter.color-2-5{"data-filter" => ".category-1"}
                    %li.color.filter.color-2-6{"data-filter" => ".category-1"}
                    %li.color.filter.color-2-7{"data-filter" => ".category-1"}
                    %li.color.filter.color-2-8{"data-filter" => ".category-1"}
                    %li.color.filter.color-2-9{"data-filter" => ".category-1"}
                    %li.color.filter.color-2-10{"data-filter" => ".category-1"}
                    %li.color.filter.color-2-11{"data-filter" => ".category-1"}
                    %li.color.filter.color-3-0{"data-filter" => ".category-1"}
                    %li.color.filter.color-3-1{"data-filter" => ".category-1"}
                    %li.color.filter.color-3-2{"data-filter" => ".category-1"}
                    %li.color.filter.color-3-3{"data-filter" => ".category-1"}
                    %li.color.filter.color-3-4{"data-filter" => ".category-1"}
                    %li.color.filter.color-3-5{"data-filter" => ".category-1"}
                    %li.color.filter.color-3-6{"data-filter" => ".category-1"}
                    %li.color.filter.color-3-7{"data-filter" => ".category-1"}
                    %li.color.filter.color-3-8{"data-filter" => ".category-1"}
                    %li.color.filter.color-3-9{"data-filter" => ".category-1"}
                    %li.color.filter.color-3-10{"data-filter" => ".category-1"}
                    %li.color.filter.color-3-11{"data-filter" => ".category-1"}
                    %li.color.filter.color-4-0{"data-filter" => ".category-1"}
                    %li.color.filter.color-4-1{"data-filter" => ".category-1"}
                    %li.color.filter.color-4-2{"data-filter" => ".category-1"}
                    %li.color.filter.color-4-3{"data-filter" => ".category-1"}
                    %li.color.filter.color-4-4{"data-filter" => ".category-1"}
                    %li.color.filter.color-4-5{"data-filter" => ".category-1"}
                    %li.color.filter.color-4-6{"data-filter" => ".category-1"}
                    %li.color.filter.color-4-7{"data-filter" => ".category-1"}
                    %li.color.filter.color-4-8{"data-filter" => ".category-1"}
                    %li.color.filter.color-4-9{"data-filter" => ".category-1"}
                    %li.color.filter.color-4-10{"data-filter" => ".category-1"}
                    %li.color.filter.color-4-11{"data-filter" => ".category-1"}
                    %li.color.filter.color-5-0{"data-filter" => ".category-1"}
                    %li.color.filter.color-5-1{"data-filter" => ".category-1"}
                    %li.color.filter.color-5-2{"data-filter" => ".category-1"}
                    %li.color.filter.color-5-3{"data-filter" => ".category-1"}
                    %li.color.filter.color-5-4{"data-filter" => ".category-1"}
                    %li.color.filter.color-5-5{"data-filter" => ".category-1"}
                    %li.color.filter.color-5-6{"data-filter" => ".category-1"}
                    %li.color.filter.color-5-7{"data-filter" => ".category-1"}
                    %li.color.filter.color-5-8{"data-filter" => ".category-1"}
                    %li.color.filter.color-5-9{"data-filter" => ".category-1"}
                    %li.color.filter.color-5-10{"data-filter" => ".category-1"}
                    %li.color.filter.color-5-11{"data-filter" => ".category-1"}
                    %li.color.filter.color-6-0{"data-filter" => ".category-1"}
                    %li.color.filter.color-6-1{"data-filter" => ".category-1"}
                    %li.color.filter.color-6-2{"data-filter" => ".category-6"}
                    %li.color.filter.color-6-3{"data-filter" => ".category-1"}
                    %li.color.filter.color-6-4{"data-filter" => ".category-1"}
                    %li.color.filter.color-6-5{"data-filter" => ".category-1"}
                    %li.color.filter.color-6-6{"data-filter" => ".category-1"}
                    %li.color.filter.color-6-7{"data-filter" => ".category-1"}
                    %li.color.filter.color-6-8{"data-filter" => ".category-1"}
                    %li.color.filter.color-6-9{"data-filter" => ".category-1"}
                    %li.color.filter.color-6-10{"data-filter" => ".category-1"}
                    %li.color.filter.color-6-11{"data-filter" => ".category-1"}
                    %li.color.filter.color-7-0{"data-filter" => ".category-1"}
                    %li.color.filter.color-7-1{"data-filter" => ".category-1"}
                    %li.color.filter.color-7-2{"data-filter" => ".category-1"}
                    %li.color.filter.color-7-3{"data-filter" => ".category-1"}
                    %li.color.filter.color-7-4{"data-filter" => ".category-1"}
                    %li.color.filter.color-7-5{"data-filter" => ".category-1"}
                    %li.color.filter.color-7-6{"data-filter" => ".category-1"}
                    %li.color.filter.color-7-7{"data-filter" => ".category-1"}
                    %li.color.filter.color-7-8{"data-filter" => ".category-1"}
                    %li.color.filter.color-7-9{"data-filter" => ".category-1"}
                    %li.color.filter.color-7-10{"data-filter" => ".category-1"}
                    %li.color.filter.color-7-11{"data-filter" => ".category-1"}
                    %li.color.filter.color-8-0{"data-filter" => ".category-1"}
                    %li.color.filter.color-8-1{"data-filter" => ".category-1"}
                    %li.color.filter.color-8-2{"data-filter" => ".category-1"}
                    %li.color.filter.color-8-3{"data-filter" => ".category-1"}
                    %li.color.filter.color-8-4{"data-filter" => ".category-1"}
                    %li.color.filter.color-8-5{"data-filter" => ".category-1"}
                    %li.color.filter.color-8-6{"data-filter" => ".category-1"}
                    %li.color.filter.color-8-7{"data-filter" => ".category-6"}
                    %li.color.filter.color-8-8{"data-filter" => ".category-1"}
                    %li.color.filter.color-8-9{"data-filter" => ".category-1"}
                    %li.color.filter.color-8-10{"data-filter" => ".category-1"}
                    %li.color.filter.color-8-11{"data-filter" => ".category-1"}
                    %li.color.filter.color-9-0{"data-filter" => ".category-1"}
                    %li.color.filter.color-9-1{"data-filter" => ".category-1"}
                    %li.color.filter.color-9-2{"data-filter" => ".category-1"}
                    %li.color.filter.color-9-3{"data-filter" => ".category-1"}
                    %li.color.filter.color-9-4{"data-filter" => ".category-6"}
                    %li.color.filter.color-9-5{"data-filter" => ".category-1"}
                    %li.color.filter.color-9-6{"data-filter" => ".category-1"}
                    %li.color.filter.color-9-7{"data-filter" => ".category-1"}
                    %li.color.filter.color-9-8{"data-filter" => ".category-1"}
                    %li.color.filter.color-9-9{"data-filter" => ".category-1"}
                    %li.color.filter.color-9-10{"data-filter" => ".category-1"}
                    %li.color.filter.color-9-11{"data-filter" => ".category-1"}
                %i.fa.fa-times
            %li
              %a
                %i.fa.fa-camera-retro>
                Visit Gallery
              .be-popup
                %h3.letf-menu-article
                  Galerry
                %form.input-search{:action => "./"}
                  %input.filters-input{:placeholder => "Start typing to see list", :required => "", :type => "text"}/
                %i.fa.fa-times
    .col-md-10
      #container-mix.row._post-container_
        -@posts.each do |post|
          .category-1.mix.custom-column-5
            =render partial: "front/posts/preview", locals: { post: post }
        .category-1.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page1.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p1.jpg")}/
            %a.be-post-title{:href => "page1.html"} The kitsch destruction of our world
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a1.png")}/
              %span
                by
                %a{:href => "page1.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-down
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-2.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page2.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p2.jpg")}/
            %a.be-post-title{:href => "page2.html"} Treebeard
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a1.png")}/
              %span
                by
                %a{:href => "page2.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-3.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page3.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p3.jpg")}/
            %a.be-post-title{:href => "page3.html"} Colors of Ramadan
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a2.png")}/
              %span
                by
                %a{:href => "page3.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-4.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page1.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p4.jpg")}/
            %a.be-post-title{:href => "page1.html"} Leaving Home - L'Officiel Ukraine
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a3.png")}/
              %span
                by
                %a{:href => "page1.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-5.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page2.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p5.jpg")}/
            %a.be-post-title{:href => "page2.html"} Drive Your World
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a4.png")}/
              %span
                by
                %a{:href => "page2.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-6.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page1.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p13.jpg")}/
            %a.be-post-title{:href => "page1.html"} Fran Ewald for The Diaries Project
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a5.png")}/
              %span
                by
                %a{:href => "page1.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-5.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page1.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p7.jpg")}/
            %a.be-post-title{:href => "page1.html"} raindrops monochrome
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a6.png")}/
              %span
                by
                %a{:href => "page1.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-3.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page3.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p8.jpg")}/
            %a.be-post-title{:href => "page3.html"} Racing Queensland
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a7.png")}/
              %span
                by
                %a{:href => "page3.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-2.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page1.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p9.jpg")}/
            %a.be-post-title{:href => "page1.html"} NAHA Finalist Hairstylist of the Year Allen Ruiz
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a7.png")}/
              %span
                by
                %a{:href => "page1.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-4.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page1.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p10.jpg")}/
            %a.be-post-title{:href => "page1.html"} tomorrow
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a8.png")}/
              %span
                by
                %a{:href => "page1.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-6.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page1.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p11.jpg")}/
            %a.be-post-title{:href => "page1.html"} Tropicalia
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a5.png")}/
              %span
                by
                %a{:href => "page1.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-2.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page1.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p12.jpg")}/
            %a.be-post-title{:href => "page1.html"} Face
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a6.png")}/
              %span
                by
                %a{:href => "page1.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-1.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page1.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p13.jpg")}/
            %a.be-post-title{:href => "page1.html"} Stay Ahead Series
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a5.png")}/
              %span
                by
                %a{:href => "page1.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-3.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page1.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p14.jpg")}/
            %a.be-post-title{:href => "page1.html"} Faber-Castell / Psychological Problems
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a1.png")}/
              %span
                by
                %a{:href => "page1.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
        .category-1.mix.custom-column-5
          .be-post
            %a.be-img-block{:href => "page1.html"}
              %img{:alt => "omg", :src => asset_path("front_default/p15.jpg")}/
            %a.be-post-title{:href => "page1.html"} Garry Simpson - Bridges - Intelligent Life Magazine
            %span
              %a.be-post-tag{:href => "blog-detail-2.html"}> Interaction Design
              ,
              = succeed "," do
                %a.be-post-tag{:href => "blog-detail-2.html"} UI/UX
              %a.be-post-tag{:href => "blog-detail-2.html"} Web Design
            .author-post
              %img.ava-author{:alt => "", :src => asset_path("front_default/a9.png")}/
              %span
                by
                %a{:href => "page1.html"} Hoang Nguyen
            .info-block
              %span
                %i.fa.fa-thumbs-o-up
                360
              %span
                %i.fa.fa-eye
                789
              %span
                %i.fa.fa-comment-o
                20
