!!!
%html
  %head
    = display_meta_tags site: 'Transmogram.com - World of Warcraft Transmogrification'
    = csrf_meta_tags
    = csp_meta_tag
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'front', media: 'all'
    = javascript_include_tag 'front'
    = javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=UA-43132765-5"
    = javascript_include_tag 'front/metrics'
    = favicon_link_tag asset_path('front_default/favicon.png')
    %noscript
      %div
        %img{:alt => "", :src => "https://mc.yandex.ru/watch/55119886", :style => "position:absolute; left:-9999px;"}/


  %body
    / .be-loader
    /   .spinner
    /     %img{:alt => "", :src => "img/logo-loader.png"}/
    /     %p.circle
    /       %span.ouro
    /         %span.left
    /           %span.anim
    /         %span.right
    /           %span.anim
    %header
      = render partial: "front/shared/header_upper_nav"
    #content-block
      = render partial: "front/shared/header_main_background" if (controller_name == "static_pages" && controller.action_name == "home")
      - flash.each do |key, value|
        .alert{class: "alert-#{key}"}
          -if value.is_a?(Array)
            =value.shift
            -if value.any?
              %ul
                -value.reduce.each do |error_message|
                  %li=error_message
          -else
            =value
      = yield
    =render partial: "front/shared/footer"
